@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Itim&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    background-image: linear-gradient(135deg, #1e1e1e, #383838);
    top: 0;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}
header{
    display: flex;
    font-family: "Poppins", sans-serif;
    padding: 1rem;
}
header > #logo{
    flex: 25%;
    margin-left: 5%;
    align-self: center;
}
header > ul#normal-link{
    flex:70%;
    display: flex;
    justify-content: space-around;
    align-self: center;
}
header > ul#normal-link > li{
    list-style: none;
    width: 10rem;
    padding: 1rem;
    border-radius: 20px;
    text-align: center;
    transition: ease-in-out 0.5s;
}
header > ul#normal-link > li > a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}
header > ul#normal-link > li:hover a{
    text-decoration: underline;
    transform: scale(1.2);;
}
main{
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
    text-align: center;
    padding: 1rem;
}
main #introduction{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
main > #introduction > h1{
    font-size: 3.5rem;
    color: white;
    font-weight: bold;
    align-content: center;
}
main > #introduction > h6{
    font-size: 2rem;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(#FFFFFF, #C8995F);
    align-content: center;
}
.box-social-medias{
    display: flex;
    place-self: center;
}
.box-social-medias > li{
    list-style: none;
    font-size: 2rem;
}
.box-social-medias > li > a .icon {
    position: relative;
    color: #ffffff;
    transition: .3s;
    z-index: 3;
    background: transparent;
}
.box-social-medias li a {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 45px;
    font-size: 22px;
    margin: 0 5px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
.box-social-medias > li > a:before{
    content: '';
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: blue;
    z-index: 2;
    transition: 0.4s;
}
.box-social-medias > li > a:hover .icon{
    transition: .3s;
    scale: 1.2;
}
.box-social-medias > li > a:hover:before{
    top: 0;
}
.box-social-medias > li.instagram > a:before{
    background:hsl(0 0% 10%);
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.box-social-medias > li.github > a:before{
    background-color: black;
}
main #introduction a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
main > #photo > img{
    border-radius: 50%;
    transition: ease-in-out 0.3s;
    rotate: 30deg;
}
main > #photo > img:hover{
    transform: scale(1.05);
}
#about-me{
    display: flex;
    justify-content: space-around;
    padding: 7rem;
}
#about-me > img{
    border-radius: 50px;
    height: 30rem;
    align-self: center;
}
#about-me #text{
    color: white;
    font-size: 1.6rem;
    width: 40rem;
    align-self: center;
}
article#curiosities > h2{
    background-color: #ffffff;
    color: #323232;
    text-align: center;
    width:80%;
    max-width: 500px;
    font-size: 2rem;
    border-radius: 10px;
    padding: 2rem;
    margin: 0 auto;
}
.flex-container{
    display: flex;
    justify-content: space-around;
    gap: 0.1rem;
}
.flex-container > div{
    background-color: white;
    width: 24%;
    height: 100vh;
    padding: 1rem;
    margin: 5rem;
    z-index: 0;
    position: relative;
    border-radius: 20px;
}
.flex-container > div > p{
    font-size: 1.5rem ;
    text-align: center;
    margin-top: 10%;
}

.flex-container > div::after{
    content: '';
    position: absolute;
    top: 100;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-size: cover;
    background-position:center;
    border-radius: 20px;
    z-index: 1;
}

.flex-container > #dog::after {background-image: url(IMGS/dog.JPEG);}
.flex-container > #basketball::after {background-image: url(IMGS/basketball.JPEG);}
.flex-container > #me-young::after {background-image: url(IMGS/babyRyan.JPEG);}

#lists{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
#dreams, #travels {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    flex: 50%;
}
#dreams > h3, #travels > h3{
    font-size: 3rem;
    background: radial-gradient(#D9D9D9, #737373);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#travels > h3{
    width: 70%;
}
#dreams > #dreams-list > ul, #travels > #places-list > ol{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#dreams > #dreams-list > ul > li, #travels > #places-list > ol > li {
    background-color: white;
    padding: 1rem;
    width: 30rem;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 1.1rem;
}
#travels > #places-list > ol > li > a{
    text-decoration: none;
    color: black;
}
#projects{
    display: flex;
    flex-direction: column;
    place-items: center;
    margin: 0 auto;
    margin-top: 5%;
}
#projects > h3 {
    font-size: 3rem;
    background: radial-gradient(#FFFFFF, #C8995F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.intro-flex {
    display: flex;
    flex-direction: column;
    place-items: center;
}
.projects-flex {
    display: grid;
    grid-template-areas: 
        "take mae"
        "calc iara"
        "agencia agencia"
    ;
    grid-gap: 10rem;
}

.project:nth-child(1) {grid-area: take;}
.project:nth-child(2) {grid-area: mae;}
.project:nth-child(3) {grid-area: calc;}
.project:nth-child(4) {grid-area: iara;}
.project:nth-child(5) {grid-area: agencia;}

.project {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin: 0 auto;
}
.project > iframe {
    width: 30rem;
    height: 12rem;
}
.project > img {
    width: 30rem;
    height: 12rem;
    object-fit: cover;
}
.project > p {
    font-size: 1rem;
    color: white;
    text-align: center;
    font-weight: bold;
}
.project > ul {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
}
.project > ul > li > i{
    font-size: 2rem;
}
.project > a {
    color: white;
}
footer {
    background-color: black;
    color: white;
    padding: 3rem;
    margin-top: 2rem;
    place-items: center;
    text-align: center;
}
footer > a {
    color: white;
}

/* RESPONSIVIDADE */

@media (max-width: 1307px) {
    #about-me{
        gap: 5rem;
    }
    
    article#curiosities > h2{
        width: 50%;
    }

    .flex-container {
        display: flex;
        gap: 0;
        flex-direction: column;
    }

    .flex-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "basketball dog"
            "me-young me-young"
        ;
    }

    #basketball{grid-area: basketball;}
    #me-young{grid-area: me-young;}
    #dog{grid-area: dog}

    .flex-container > div#basketball,
    .flex-container > div#dog {
        width: auto;
        height: 60vh;
    }
    .flex-container > div#me-young {
        width: auto;
        height: 40vh;
    }

    .flex-container > #me-young > p {
        margin-top: 5%;
    }

    .flex-container > #me-young::after {
        height: 55%;
    }

    #dreams > #dreams-list > ul > li, #travels > #places-list > ol > li {
        width: 20rem;
    }
}

@media (max-width: 1159px) {
    .projects-flex {
        display: flex;
        flex-direction: column;
    }
}